body {
  background: #3F51B5;
  height: 100%;
  width: 100%;
  position: relative;
  text-align: center;
  margin: 0 auto;
  font-family: 'Prompt', sans-serif;
}
h1{
font-family: 'Bungee Inline', cursive;

}
#root{
  margin: 20px;
}
.login{
  width:250px;
  margin: 0 auto;
}
.input-field label{
  color: #fff;
}
.signup-link a{
  font-size: 15px;
  color:#fff;
  border: solid 1px #fff;
  padding: 5px;
}